In [2]:
%matplotlib inline
import numpy as np
import matplotlib as plt
import pandas as pd
from matplotlib import pyplot as plt
import matplotlib.pyplot
import pylab
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report

In [3]:
df=pd.read_csv('train.csv')
drop=['SibSp','Parch','Ticket','Sex','Embarked','Cabin','Name']
df=df.drop(drop,axis=1)

df[df['Age']==np.NaN].index.tolist()
df[~df.isnull()]
df=df.dropna()
df.head(10)

    PassengerId  Survived  Pclass   Age     Fare
0             1         0       3  22.0   7.2500
1             2         1       1  38.0  71.2833
2             3         1       3  26.0   7.9250
3             4         1       1  35.0  53.1000
4             5         0       3  35.0   8.0500
6             7         0       1  54.0  51.8625
7             8         0       3   2.0  21.0750
8             9         1       3  27.0  11.1333
9            10         1       2  14.0  30.0708
10           11         1       3   4.0  16.7000

In [4]:
y=df['Survived'].values
X=df.drop(df.columns[[0,1]],axis=1)
print("X.shape:", X.shape)
print("y.shape:", y.shape)

X.shape: (714, 3)
y.shape: (714,)

In [5]:
lg=LogisticRegression()
lg=lg.fit(X,y)

In [16]:
#prepare cv dara to test
df2=pd.read_csv('test.csv')
drop=['SibSp','Parch','Ticket','Sex','Embarked','Cabin','Name']
df2=df2.drop(drop,axis=1)

df2[df2['Age']==np.NaN].index.tolist()
df2=df2[~df2.isnull()]    
df2=df2.dropna()
df2.head(12)

    PassengerId  Pclass   Age     Fare
0           892       3  34.5   7.8292
1           893       3  47.0   7.0000
2           894       2  62.0   9.6875
3           895       3  27.0   8.6625
4           896       3  22.0  12.2875
5           897       3  14.0   9.2250
6           898       3  30.0   7.6292
7           899       2  26.0  29.0000
8           900       3  18.0   7.2292
9           901       3  21.0  24.1500
11          903       1  46.0  26.0000
12          904       1  23.0  82.2667

In [ ]:
df3=pd.read_csv('gender_submission.csv')
for i in df3['PassengerId']:
    for j in df2['PassengerId']:
        if j!=i:
            df3 = df3[df3.PassengerId != i]
    
df3.head(12)

In [57]:
yt=df3['Survived'].values
Xt=df2.drop(df2.columns[[0,1]],axis=1)
print("X.shape:", Xt.shape)
print("y.shape:", yt.shape)

X.shape: (331, 2)
y.shape: (418,)

In [56]:
print(classification_report(yt, lg.predict(Xt), target_names=['dead', 'survive']))
print('F1 score:', f1_score(yt, lg.predict(Xt)))

ValueError: X has 2 features per sample; expecting 3